@import "common/svg_icon_full.less";

{{#each svgList as |svg|}}
.svg-{{svg.name}} {
  width: {{svg.viewBox.width}}px; height: {{svg.viewBox.height}}px;
  .svg_{{svg.name}}('#41474b');
}
{{/each}}

#page_ruicon {
  padding: 30px;
  margin: 0;
}
h1 {
  margin: 0;
  padding: 0;
  font-size: 24px;
  font-weight: 600;
  color: #41474b;
}
p {
  margin: 10px 0 0 0;
  padding: 0;
  height: 1.5em;
  font-size: 20px;
  font-weight: 600;
  color: #0282da;
  text-decoration: none;
}
ul {
  padding: 0;
}
.icon_item {
  float: left;
  margin: 0 20px 24px 0;
  list-style: none;
}
.icon_list::after {
  content: "";
  display:block;
  clear:both;
}
.icon_link {
  display: block;
  min-width: 94px;
  padding: 15px;
  background: #eee;
  text-align: center;
  font-size: 0;
  -webkit-transition: background .2s;
  transition: background .2s;
  box-sizing: border-box;
}
.svg_icon {
  height: 50px;
  -webkit-transition: filter .2s;
  transition: filter .2s;
}
.icon_link:hover {
  background: #0282da;
  padding: 10px 15px 20px 15px;
  .svg_icon {
    -webkit-filter: hue-rotate(0deg) saturate(100%) brightness(445%);
    filter: hue-rotate(0deg) saturate(100%) brightness(445%);
  }
}
.icon_title {
  cursor: auto;
  display: block;
  padding: 5px;
  background: #fff;
  text-align: center;
  font-size: 11px;
  color: #999;
  font-weight: 600;
  line-height: 1.6em;
  white-space: nowrap;
}